
*.pyc
**/.ipynb_checkpoints
**/.DS_Store
**.idea
**/node_modules

/Chapter-CI/django_project_env
/Chapter-CI/my_first_ci_project/django_project_env
Chapter-CI/my_first_ci_project/.coverage
Chapter-CI/my_first_ci_project/.env
Chapter-CI/my_first_ci_project/db.sqlite3
/.metals
/.vscode
/Chapter-Threads/Projects/venv
/Chapter-Threads/Projects/static/processed
/Chapter-Threads/Projects/logs/**
/Chapter-Threads/Projects/logs
/Chapter-OS/Session1-CommandLine/my_proyect
/Chapter7_Web/Servers/python/Django/ejercicios/solucion/django_env
/Chapter7_Web/Servers/python/Django/Simple Project 1/laptop_project/venv
